/* general reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  font-weight: 600;
}
/* WRAPPER */
.wrapper {
  max-width: 70%;
  margin: 5% auto;
  padding: 3%;
  background-color: rgba(60, 9, 0, 0.03);
  border-radius: 20px;
}

/* FORM */

.form--group {
  display: flex;
  flex-direction: column;
}

.form--group input {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.4em;
  box-shadow: 1px 1px 5px 0.5px rgba(0, 66, 10, 0.6);
}

.form--group label {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.form--group p {
  font-size: 1.5rem;
  margin: 2rem 0;
}

/* toppings */
.toppings p {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.toppings--card {
  display: flex;
  justify-content: left;
  align-items: center;
}
.toppings--card input {
  margin-right: 1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* picture cards */
.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  align-items: center;
  justify-items: center;
}
.picture--card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  transition: 0.3s;
  border-radius: 50%;
}
.picture--card:hover {
  cursor: pointer;
  opacity: 0.8;
}
.checked {
  border: 5px solid rgba(0, 128, 0, 0.4);
}
/* form button*/

.form--btn {
  display: block;
  border: none;
  border-radius: 15px;
  background-color: rgb(120, 10, 10);
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px;
  transition: 0.2s;
  margin: 3rem auto;
}
.form--btn:hover {
  background-color: rgb(160, 0, 0);
}

/* MENU */
h2 {
  font-size: 3rem;
  text-align: center;
  margin: 10% auto;
  color: green;
}
.menu--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu--container h3 {
  text-align: center;
  padding: 10px 0;
}
.picture--card__container {
  width: 300px;
  background-color: rgba(0, 128, 0, 0.03);
  box-shadow: 1px 1px 5px 0.5px rgba(0, 66, 10, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
}
.picture--card__container p {
  padding: 0.5em;
}

.delete--btn {
  display: block;
  float: right;
  font-size: 1.5em;
  color: white;
  background-color: rgb(120, 10, 10);
  padding: 10px;
  border-radius: 15px;
  transition: 0.2s;
}
.delete--btn:hover {
  background-color: rgb(160, 0, 0);
}
