/* general reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  font-weight: 600;
}
.pictures {
  display: flex;
}
/* picture cards */
.picture--card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  transition: 0.3s;
  border-radius: 50%;
}
.picture--card:hover {
  cursor: pointer;
  opacity: 0.8;
}
.checked {
  border: 2px solid green;
}
